{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<f:section name="body">

    <f:render partial="Header" arguments="{parts: parts}" />

    <!-- Content Rightsidebar -->
    <div class="maincontent fullcontent">
        <div class="row pageview">
            <!-- Blog -->
            <div class="large-8 columns blogview">
                {content.main -> f:format.raw()}
            </div>
            <!-- /Blog -->

            <!-- Sidebar -->
            <div class="large-4 columns">
                {content.sidebar -> f:format.raw()}
            </div>
            <!-- /Sidebar -->
        </div>
    </div>
    <!-- /Content Rightsidebar -->

    <f:render partial="Footer" arguments="{content:content}"/>
    <f:render partial="Reveal" arguments="{parts:parts}"/>
</f:section>