{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<f:section name="body">

    <f:render partial="Header" arguments="{parts: parts}" />

    <!-- Content Portfolio 3-col right-->
    <div class="maincontent">
        <div class="row fullcontent">
            <!-- Portfolio -->
            <div class="large-8 columns">
                {content.main -> f:format.raw()}
            </div>
            <!-- /Portfolio -->

            <!-- left side bar -->
            <div class="large-4 columns sidebar">
                {content.sidebar -> f:format.raw()}
            </div>
            <!-- end left side bar -->
        </div>
    </div>
    <!-- /Content -->

    <f:render partial="Footer" arguments="{content:content}"/>

</f:section>