<f:form action="search" name="search" method="POST">
    <div class="row">
        <div class="large-6 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <f:form.textfield property="query" id="query" placeholder="search" />
                </div>
                <div class="small-2 columns">
                    <f:form.button value="Search" class="button postfix">Go</f:form.button>
                </div>
            </div>
        </div>
    </div>
</f:form>