.maincontent {
    min-height:100%;
}

.fullcontent {
    padding-bottom: 100px;
}

/*Footer*/
.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index:9999;
}

form.form_container {
    padding: 0;
}

textarea {
    margin-bottom: 1em;
}

label {
    display: inline;
}

/* Widget Disc List */
.widget_list ul {
    padding: inherit;
}

ul.no-bullet li {
    padding: 0 0 10px 0;
}

ul.no-bullet li.left {
    padding: 0 10px 0 0;
}

.responses h4.title {
    border-bottom: 0px;
}

.responses h3.title {
    margin-top:20px;
    padding-top: 10px;
    border-top:1px solid #cecece;
}

#socialshareprivacy .twitter {
    background-color: #fff;
    padding: 0;
    overflow: visible;
}

div.share_buttons {
    float:left;
    margin-top:20px;
}

div.share_buttons ul li {
    padding-right: 20px;
    font-size: 1.5em;
}

.panel {
    border-style: solid;
    border-width: 0px;
    border-color: #d9d9d9;
    margin-bottom: 1.17647em;
    padding: 1.17647em;
    background: #f2f2f2;
}

.content.panel {
    padding: 1.5em 1.17647em 0.5em;
}

.active.content.panel .row {
    padding: 0 1em;
}

.active.content.panel .columns {
    padding: 0 0.5em;
}

.active.content.panel .row .columns .row {
    padding: 0;
}

nav a.current  {color:#ae2941!important;font-weight: 800;}
nav a.current:after  {width: 100%;content: '';display: block;height:3px;background-color: #ae2941;position: absolute;bottom: 0;}
nav .cbp-tm-submenu a.current:after {display: none;background: #ae2941;}
nav ul.cbp-tm-submenu li a.current {color: #fff!important;}

.cbp-tm-submenu > li > a {
    padding:5px 2.3em 5px 1.2em;
    /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
    display:block;
    font-size:1em;
    position:relative;
    color:#ccc;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    transition:all .2s;
    border:0;
    font-weight:300;
}

a.label:hover, a.label:focus {
    color: #ffffff;
}

header#topheader {
    background: none repeat scroll 0 0 #222
}

nav#mainnav .topmenu {
    margin: -70px auto 0;
    max-width: 67.0588em;
    width: 100%;
}

ul.cbp-tm-menu {
    text-align: left;
    position: inherit;
    float:left;
}

ul.cbp-tm-menu button, ul.cbp-tm-menu .button, ul.cbp-tm-menu form {
    margin:0;
}

.cbp-tm-menu > li > span.normal, .cbp-tm-menu.register > li > a > span.normal {
    color: #ccc;
    display: block;
    font-weight: 600;
    text-transform: none;
    margin: 0 0.5em;
    line-height: 1.1em;
}

.cbp-tm-menu.user > li {
    margin: 0;
}

nav .cbp-tm-menu.register a:hover:after {
    background: none;
}

.cbp-tm-menu.left {
    float:left;
    width:66.6667%;
}

.cbp-tm-menu.user {
    width:25%;
    padding: 1.3em 0 0 0;
}

.cbp-tm-menu.user.right {
    width:33.3333%;
    padding: 1.3em 0 0 0;
    text-align: right;
}

.cbp-tm-menu.register {
    width:8%;
    padding: 1.3em 0 0 0;
    text-align: right;
}

.cbp-tm-menu.user input.button.small {
    border: 1px solid #ae2941;
    height: 2.17647em;
    padding-top: 0.47059em;
    padding-bottom: 0.47059em;
    font-size: 0.82353em;
}

.cbp-tm-menu.user input.button:hover.small {
    border: 1px solid #851f32;
}

span.has-form {
    float:left;
    width: 33%;
    padding-left: 10px;
    text-align: left;
}

span.has-form input {
    margin: 0;
}

.blogview_item {
    padding: 0;
    margin:0 0 20px;
}

.blogview_item.active {
    position: relative;
}

.blogview_item.active ul.edit-post {
    position: absolute;
    top: 0;
    right: 0;
}

.blogview_item.active ul.edit-post li {
    padding: 0;
}

.blogview_item.active ul.edit-post li .button {
    padding: 0.3em;
    margin-bottom: 0;
}

.inactive {
    display: none;
    padding-top: 0;
}

div[data-toggle] {
    padding: 0.5em 0;
}

.widget {
    padding-bottom: 10px;
}

.select2 {
    display: inherit;
}

.select2-container-multi {
    height: 56px;
}

.error .select2-choice, .error .select2-choices {
    background-color: rgba(198, 15, 19, 0.1);
    background-image: none;
    border: 1px solid #c60f13;
}

/* fonts */

div.jqcloud {
    font-family: lato;
    font-size: 10px;
    line-height: normal;
}

div.jqcloud span.w10 { font-weight: 500; }
div.jqcloud span.w9 { font-weight: 500; }
div.jqcloud span.w8 { font-weight: 400; }
div.jqcloud span.w7 { font-weight: 400; }
div.jqcloud span.w6 { font-weight: 300; }
div.jqcloud span.w5 { font-weight: 300; }
div.jqcloud span.w4 { font-weight: 200; }
div.jqcloud span.w3 { font-weight: 200; }
div.jqcloud span.w2 { font-weight: 100; }
div.jqcloud span.w1 { font-weight: 100; }

div.jqcloud span.w10 { font-size: 325%; }
div.jqcloud span.w9 { font-size: 300%; }
div.jqcloud span.w8 { font-size: 275%; }
div.jqcloud span.w7 { font-size: 250%; }
div.jqcloud span.w6 { font-size: 225%; }
div.jqcloud span.w5 { font-size: 200%; }
div.jqcloud span.w4 { font-size: 175%; }
div.jqcloud span.w3 { font-size: 150%; }
div.jqcloud span.w2 { font-size: 125%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #ae2941; }
div.jqcloud a { color: #ae2941; }
div.jqcloud a:hover { color: #ae2941; }
div.jqcloud span.w10 { color: #ae2941; }
div.jqcloud span.w9 { color: #ae2941; }
div.jqcloud span.w8 { color: #ae2941; }
div.jqcloud span.w7 { color: #c64a61; }
div.jqcloud span.w6 { color: #c64a61; }
div.jqcloud span.w5 { color: #c64a61; }
div.jqcloud span.w4 { color: #c64a61; }
div.jqcloud span.w3 { color: #da628e; }
div.jqcloud span.w2 { color: #da628e; }
div.jqcloud span.w1 { color: #da628e; }

/* layout */

div.jqcloud {
    overflow: hidden;
    position: relative;
}

div.jqcloud span { padding: 0; }
