<f:if condition="{isAuthenticated}">
    <f:then>
        <ul id="cbp-tm-menu-user" class="cbp-tm-menu user right">
            <li><span class="normal">{user.name.alias}</span></li>
            <li>{logout -> f:format.raw()}</li>
        </ul>
    </f:then>
    <f:else>
        <ul id="cbp-tm-menu-user" class="cbp-tm-menu user">
            <li class="has-form">{login -> f:format.raw()}</li>
        </ul>
        <ul id="cbp-tm-menu-register" class="cbp-tm-menu register">
            <li><a href="register.html"><span class="normal">Register</span></a></li>
        </ul>
    </f:else>
</f:if>