<f:if condition="{isAuthenticated}">
    <f:then>
        <ul id="cbp-tm-menu-user" class="cbp-tm-menu user right">
            <li>{notification -> f:format.raw()}</li>
            <li>
                <span class="normal"><i class="fa fa-caret-down"></i> {user.name.alias}</span>
                <ul class="cbp-tm-submenu">
                    <f:render partial="MainMenuItemList" arguments="{items: items, site: site}" />
                </ul>
            </li>
            <li>{logout -> f:format.raw()}</li>
        </ul>
    </f:then>
    <f:else>
        <ul id="cbp-tm-menu-user" class="cbp-tm-menu user">
            <li class="has-form">{login -> f:format.raw()}</li>
        </ul>
        <ul id="cbp-tm-menu-register" class="cbp-tm-menu register">
            <li><a href="register.html"><span class="normal">Register</span></a></li>
        </ul>
    </f:else>
</f:if>