{namespace feManager=MapSeven\Neos\FrontendUserManager\ViewHelpers}
<f:for each="{items}" as="item" iteration="menuItemIterator">
    <feManager:security.ifAuthenticated providerName="{providerName}">
        <f:then>
            <f:if condition="{item.node.properties.showAtAnyLogin}">
                <f:render partial="UserMenuItem" arguments="{item: item}" />
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{item.node.properties.hideAtAnyLogin}">
                <f:render partial="UserMenuItem" arguments="{item: item}" />
            </f:if>
        </f:else>
    </feManager:security.ifAuthenticated>
</f:for>

